@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./Merienda-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./roboto/Roboto-Regular.ttf) format('truetype');
}

html,
body,
#root,
.App {
    height: 100%;
}

.App {
    font-family: MyFont;
    height: 100%;
}

.gradientBg {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-light {
    color: aliceblue;
}

.startButton {
    height: 80px;
    border-radius: 50% 10% 50% 50% / 40% 30% 60% 50%;
}

.roboto_font {
    font-family: Roboto;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 213);
}

.fullHeight {
    height: 100%;
    overflow-y: scroll;
}

.halfHeight {
    height: 50%;
    overflow-y: scroll;
}

.clearBg {
    background: none;
    border: none;
}