@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./Merienda-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./roboto/Roboto-Regular.ttf) format('truetype');
}

html,
body,
#root,
.App {
    height: 100%;
    overflow-x: hidden;
}

.App {
    font-family: MyFont;
    height: 100%;
}


/* .gradientBg {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 */

.text-light {
    color: aliceblue;
}

.startButton {
    height: 80px;
    border-radius: 50% 10% 50% 50% / 40% 30% 60% 50%;
}

.roboto_font {
    font-family: Roboto;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 213);
}

.fullHeight {
    height: 100%;
    overflow-y: scroll;
}

.halfHeight {
    height: 50%;
    overflow-y: scroll;
}

.clearBg {
    background: none;
    border: none;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);
.ant-modal-content {
    margin: 25px;
    /* width: 250px; */
    /* font-family: 'Bangers', cursive; */
    font-size: 25px;
    background: #fff;
    border: solid #cc0bee;
    /* border-color: black; */
    float: left;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-1deg);
}

.navElement {
    transform: rotate(2deg);
    margin: 15px;
    padding: 0 5px;
    color: black;
    font-family: 'Bangers', cursive;
    /* float: right; */
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
    transition: 0.3s;
}

.navElement:hover {
    color: rgb(255, 0, 0);
    background: rgb(241, 238, 223);
    border: 1px solid rgb(255, 230, 0);
    box-shadow: 3px 3px 0 rgb(255, 230, 0);
}

.ant-modal-header {
    background: none;
}

.rooms-container {
    text-align: center;
}

.room-buttons {
    display: block;
    background-color: rgb(255, 78, 240);
    color: white;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
}

.room-buttons:hover {
    font-weight: bold;
    box-shadow: 0px 0px 20px #f0f;
    color: rgb(75, 102, 255);
}

#dot2 {
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background: black;
}

#dot25 {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: black;
}

#dot60 {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: black;
}

.colorButton {
    border: none;
    border-radius: 0px;
}

.actionButton {}