@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./Merienda-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(./roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'brush';
    src: local('brush'), url(./PAINP___.TTF) format('truetype');
}

html,
body,
#root,
.App {
    height: 100%;
    overflow-x: hidden;
}

.App {
    font-family: MyFont;
    height: 100%;
}

.brushStyle {
    font-family: brush;
}

svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 80px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%)
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }
}


/* .gradientBg {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 */

.text-light {
    color: aliceblue;
}

.startButton {
    height: 80px;
    border-radius: 50% 10% 50% 50% / 40% 30% 60% 50%;
    transition: 0.25s;
}

.startButton:hover {
    height: 80px;
    border-radius: 50% 10% 50% 50% / 40% 30% 60% 50%;
    box-shadow: 0px 0px 15px -10px #fdd5ec;
}

.roboto_font {
    font-family: Roboto;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 213);
}

.fullHeight {
    height: 100%;
    overflow-y: scroll;
}

.halfHeight {
    height: 50%;
    overflow-y: scroll;
    background: white;
}

.clearBg {
    border: none;
    border-radius: 10px;
    background: none;
}

.tbGg {
    background: rgba(250, 250, 250, 0.25);
    padding: 10px;
    color: white;
    margin: 10px;
}

.ipf {
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);
.ant-modal-content {
    margin: 25px;
    /* width: 250px; */
    /* font-family: 'Bangers', cursive; */
    font-size: 25px;
    background: #fff;
    border: solid #cc0bee;
    /* border-color: black; */
    float: left;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-1deg);
}

.navElement {
    transform: rotate(2deg);
    margin: 15px;
    padding: 0 5px;
    color: black;
    font-family: 'Bangers', cursive;
    /* float: right; */
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
    transition: 0.3s;
}

.navElement:hover {
    color: rgb(255, 0, 0);
    background: rgb(241, 238, 223);
    border: 1px solid rgb(255, 230, 0);
    box-shadow: 3px 3px 0 rgb(255, 230, 0);
}

.ant-modal-header {
    background: none;
}

.rooms-container {
    text-align: center;
}

.room-buttons {
    display: block;
    background-color: rgb(255, 78, 240);
    color: white;
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
}

.room-buttons:hover {
    font-weight: bold;
    box-shadow: 0px 0px 20px #f0f;
    color: rgb(75, 102, 255);
}

#dot2 {
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background: black;
}

#dot25 {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: black;
}

#dot60 {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: black;
}

.colorButton {
    border: none;
    border-radius: 0px;
}

.actionButton {}

#global {
    width: 70px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    cursor: pointer;
    height: 80px;
}

.mask {
    position: absolute;
    border-radius: 2px;
    overflow: hidden;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.plane {
    background: #ffffff;
    width: 400%;
    height: 100%;
    position: absolute;
    transform: translate3d(0px, 0, 0);
    /*transition: all 0.8s ease; */
    z-index: 100;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.emptyCell {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.wordCell {
    display: inline-block;
    border: solid rgb(93, 147, 192);
    border-radius: 3px;
    margin: 1px;
    width: 16px;
    height: 20px;
    background: white;
}

.animation {
    transition: all 0.3s ease;
}

#top .plane {
    z-index: 2000;
    -webkit-animation: trans1 1.3s ease-in infinite 0s backwards;
    animation: trans1 1.3s ease-in infinite 0s backwards;
}

#middle .plane {
    transform: translate3d(0px, 0, 0);
    background: #bbbbbb;
    -webkit-animation: trans2 1.3s linear infinite 0.3s backwards;
    animation: trans2 1.3s linear infinite 0.3s backwards;
}

#bottom .plane {
    z-index: 2000;
    -webkit-animation: trans3 1.3s ease-out infinite 0.7s backwards;
    animation: trans3 1.3s ease-out infinite 0.7s backwards;
}

#top {
    width: 53px;
    height: 20px;
    left: 20px;
    transform: skew(-15deg, 0);
    z-index: 100;
}

#middle {
    width: 33px;
    height: 20px;
    left: 20px;
    top: 15px;
    transform: skew(-15deg, 40deg);
}

#bottom {
    width: 53px;
    height: 20px;
    top: 30px;
    transform: skew(-15deg, 0);
}

#connectingText {
    color: #fff;
    position: absolute;
    left: -25px;
    top: 80px;
    font-family: Arial;
    text-align: center;
    font-size: 15px;
}

@-webkit-keyframes trans1 {
    from {
        transform: translate3d(53px, 0, 0);
    }
    to {
        transform: translate3d(-250px, 0, 0);
    }
}

@keyframes trans1 {
    from {
        transform: translate3d(53px, 0, 0);
    }
    to {
        transform: translate3d(-250px, 0, 0);
    }
}

@-webkit-keyframes trans2 {
    from {
        transform: translate3d(-160px, 0, 0);
    }
    to {
        transform: translate3d(53px, 0, 0);
    }
}

@keyframes trans2 {
    from {
        transform: translate3d(-160px, 0, 0);
    }
    to {
        transform: translate3d(53px, 0, 0);
    }
}

@-webkit-keyframes trans3 {
    from {
        transform: translate3d(53px, 0, 0);
    }
    to {
        transform: translate3d(-220px, 0, 0);
    }
}

@keyframes trans3 {
    from {
        transform: translate3d(53px, 0, 0);
    }
    to {
        transform: translate3d(-220px, 0, 0);
    }
}

@-webkit-keyframes animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}

@keyframes animColor {
    from {
        background: red;
    }
    25% {
        background: yellow;
    }
    50% {
        background: green;
    }
    75% {
        background: brown;
    }
    to {
        background: blue;
    }
}